<th:block>
    <div class="banner">
        <p><img class="banner-img" src="/images/header.jpg" alt=""></p>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Left links -->
                <ul class="navbar-nav mr-auto col-12 justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contact-us">Contact us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/pricing-and-plans">Pricing & Plans</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="/users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active"
                           href="/users/register">Register</a>
                    </li>
                </ul>
                <!-- Left links -->


            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
</th:block>