<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{fragment/head}"></th:block>

<body>
<section class="signup">
    <div class="container-register">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form th:action="@{/users/register}" th:object="${userRegisterDTO}" method="POST" class="register-form"
                      id="register-form">
                    <div class="form-group">
                        <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input th:field="*{username}" name="username" type="text"
                               class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                               id="username" placeholder="Enter username">
                        <p  th:if="${#fields.hasErrors('username')}" th:class="${#fields.hasErrors('username')}? error">
                            Invalid Username</p>
                    </div>
                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        <input
                                th:field="*{password}"
                                type="password"
                                name="password" id="password" placeholder="Password"/>
                        <p th:errors="*{password}" class="text-danger"
                           th:if="${#fields.hasErrors('password')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" th:field="*{matchingPassword}" name="confirmPassword"
                               id="confirmPassword"
                               placeholder="Repeat your password"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email"
                               th:field="*{email}" th:text="*{email}" name="email" id="email"
                               placeholder="Your Email"/>
                        <p th:errors="*{email}" class="text-danger"
                           th:if="${#fields.hasErrors('email')}"></p>
                    </div>

                    <div class="form-group">
                        <label for="fullName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text"
                               th:field="*{fullName}" th:text="*{fullName}"
                               name="fullName" id="fullName" placeholder="Your Full Name"/>
                        <p th:errors="*{fullName}" class="text-danger"
                           th:if="${#fields.hasErrors('fullName')}"></p>
                    </div>


                    <div class="form-group">
                        <label for="country"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text"
                               th:field="*{country}" th:text="*{country}" name="country" id="country"
                               placeholder="Country"/>
                        <p th:errors="*{country}" class="text-danger"
                           th:if="${#fields.hasErrors('country')}"></p>
                    </div>


                    <div class="form-group">
                        <label for="city"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text"
                               th:field="*{city}" th:text="*{city}"
                               name="city" id="city" placeholder="City"/>
                        <p th:errors="*{city}" class="text-danger"
                           th:if="${#fields.hasErrors('city')}"></p>
                    </div>
                    <div class="form-group">
                        <label for="street"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text"
                               th:field="*{street}" th:text="*{street}"
                               name="street" id="street" placeholder="Street Address"/>
                        <p th:errors="*{street}" class="text-danger"
                           th:if="${#fields.hasErrors('street')}"></p>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure><img src="/images/signup-image.jpg" alt="sing up image"></figure>
                <a th:href="@{/users/login}" class="signup-image-link">I already have an account</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>