<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragment/navbar}"></th:block>
<body>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center" th:object="${user}">
                        <h5 class="my-3" th:text="*{fullName}">Full Name</h5>
                        <p class="text-muted mb-1">Owner of * apartments</p>
                        <p class="text-muted mb-4" th:text="*{street} + ', ' + *{city} + ', ' + *{country}">Address</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <form class="card-body" th:object="${passwordChangeDTO}"
                          th:action="@{/users/profile/change-password/{name}(name = ${#authentication.getName()})}"
                          th:method="POST">
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Old password</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="password"
                                       id="oldPassword"
                                       th:field="*{oldPassword}"
                                       placeholder="Old password">
                                <p th:errors="*{oldPassword}"  class="text-danger"
                                   th:if="${#fields.hasErrors('oldPassword')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">New password</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="password"
                                       id="newPassword"
                                       th:field="*{newPassword}"
                                       placeholder="New password">
                                <p th:errors="*{newPassword}"  class="text-danger"
                                   th:if="${#fields.hasErrors('newPassword')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Confirm password</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="password"
                                       id="matchingNewPassword"
                                       th:field="*{matchingNewPassword}"
                                       placeholder="Confirm password">
                                <p th:errors="*{matchingNewPassword}"  class="text-danger"
                                   th:if="${#fields.hasErrors('matchingNewPassword')}"></p>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="form-group form-button align-content-center">
                                <input type="submit" name="save" id="save" class="form-submit"
                                       value="Save"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>