<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragment/navbar}"></th:block>
<body>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div>
                <div class="col-lg-9">
                    <div class="card mb-4">
                        <form class="card-body"
                              th:action="@{/admin/users/change-role/{username}(username = ${user.username})}"
                              th:method="POST">
                            <div class="row align-content-center">
                                <div class="col-sm-3">
                                    <p class="mb-0">Change role</p>
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-check form-check-inline" th:each="role : ${roles}">
                                        <input type="radio"
                                               style="display: inline-block;"
                                               name="role"
                                               th:id="${role.name}"
                                               th:value="${role.name}"
                                               th:text="${role.name}">
                                    </div>

                                </div>
                            </div>
                            <div class="text-center">
                                <div class="form-group form-button align-content-center">
                                    <input type="submit" name="save" id="save" class="form-submit"
                                           value="Save role"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>