<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragment/navbar}"></th:block>
<body>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <div class="card-body text-center" th:object="${building}">
                    <img th:src="*{imageUrl}"
                         alt="avatar"
                         class="img-fluid mx-auto" style="width: 150px;">
                    <h5 class="my-3" th:text="*{name}"></h5>
                    <p class="text-muted mb-1"
                       th:text="*{street} + ', ' + *{city} + ', ' + *{country}">Address</p>
                    <p class="text-muted">Manager:</p>
                    <p class="text-muted mb-4"
                       th:text="*{manager.fullName} + ', ' + *{manager.phoneNumber}"></p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <form class="card-body" th:object="${buildingEditDTO}"
                          th:action="@{/admin/buildings/edit/{id}(id = ${building.id})}"
                          th:method="POST">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Building's name</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="name"
                                       th:field="${building.name}"
                                       th:placeholder="*{name}">
                                <p th:errors="*{name}" class="text-danger"
                                   th:if="${#fields.hasErrors('name')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Count of floors</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="floors"
                                       th:field="${building.floors}"
                                       th:placeholder="*{floors}">
                                <p th:errors="*{floors}" class="text-danger"
                                   th:if="${#fields.hasErrors('floors')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Count of elevators</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="elevators"
                                       th:field="${building.elevators}"
                                       th:placeholder="*{elevators}">
                                <p th:errors="*{elevators}" class="text-danger"
                                   th:if="${#fields.hasErrors('elevators')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Balance</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="balance"
                                       th:field="${building.balance}"
                                       th:placeholder="*{balance}">
                                <p th:errors="*{balance}" class="text-danger"
                                   th:if="${#fields.hasErrors('balance')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tax per Person</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="taxPerPerson"
                                       th:field="${building.taxPerPerson}"
                                       th:placeholder="*{taxPerPerson}">
                                <p th:errors="*{taxPerPerson}" class="text-danger"
                                   th:if="${#fields.hasErrors('taxPerPerson')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tax per Dog</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="taxPerDog"
                                       th:field="${building.taxPerDog}"
                                       th:placeholder="*{taxPerDog}">
                                <p th:errors="*{taxPerDog}" class="text-danger"
                                   th:if="${#fields.hasErrors('taxPerDog')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tax per elevator chip</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="taxPerElevatorChip"
                                       th:field="${building.taxPerElevatorChip}"
                                       th:placeholder="*{taxPerElevatorChip}">
                                <p th:errors="*{taxPerElevatorChip}" class="text-danger"
                                   th:if="${#fields.hasErrors('taxPerElevatorChip')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Manager Id</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="managerId"
                                       th:field="${building.manager.id}"
                                       th:placeholder="${building.manager.id}">
                                <p th:errors="*{manager.id}" class="text-danger"
                                   th:if="${#fields.hasErrors('manager.id')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Country</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="country"
                                       th:field="${building.country}"
                                       th:placeholder="*{country}">
                                <p th:errors="*{country}" class="text-danger"
                                   th:if="${#fields.hasErrors('country')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">City</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="city"
                                       th:field="${building.city}"
                                       th:placeholder="*{city}">
                                <p th:errors="*{city}" class="text-danger"
                                   th:if="${#fields.hasErrors('city')}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Street Address</p>
                            </div>
                            <div class="col-sm-9">
                                <input type="text"
                                       id="street"
                                       th:field="${building.street}"
                                       th:placeholder="*{street}">
                                <p th:errors="*{street}" class="text-danger"
                                   th:if="${#fields.hasErrors('street')}"></p>
                            </div>
                        </div>
                        <div class="text-center row align-content-center">
                            <div class="col form-group form-button ">
                                <input type="submit" name="save" id="save" class="form-submit"
                                       value="Save"/>
                            </div>
                            <div class="col form-group form-button ">
                                <input type="submit" name="back" id="back"
                                       th:href="@{/admin/buildings/view/{id}(id = ${building.id})}" class="form-submit"
                                       value="Back"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>