<th:block th:include="~{fragment/navbar}"></th:block>

<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
      integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
      crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
      integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>

<div class="container w-auto">
    <div class="row align-items-center">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Registered buildings -<span class="text-body fw-normal ms-2"
                                                                    th:text="${buildings.size()}"></span></h5>
            </div>
        </div>
        <div class="col-sm-6">
            <a th:href="@{/admin/buildings/add}" class="btn btn-success"></i>
                <span>Add New Building</span></a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 3px">Id</th>
                            <th scope="col">Name of Building</th>
                            <th scope="col">Floor count</th>
                            <th scope="col">Apartment count</th>
                            <th scope="col">Tax per Person</th>
                            <th scope="col">Tax per Dog</th>
                            <th scope="col">Tax per Elevator chip</th>
                            <th scope="col">Address</th>
                            <th scope="col" style="width: 60px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="building: ${buildings}" th:object="${building}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{name}"></td>
                            <td th:text="*{floors}"></td>
                            <td th:text="*{apartments.size}"></td>
                            <td th:text="*{taxPerPerson}"></td>
                            <td th:text="*{taxPerDog}"></td>
                            <td th:text="*{taxPerElevatorChip}"></td>
                            <td th:text="*{street} + ', ' + *{city} + ', ' + *{country}"></td>
                            <td>
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a th:href="@{/admin/buildings/view/{id}(id = *{id})}"
                                           data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                                           class="px-2 text-primary">Edit<i class="bx bx-pencil font-size-22"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0 align-items-center pb-4">
        <div class="col-sm-6">
            <div><p class="mb-sm-0">Showing 1 to 10 of 57 entries</p></div>
        </div>
        <div class="col-sm-6">
            <div class="float-sm-end">
                <ul class="pagination mb-sm-0">
                    <li class="page-item disabled">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-left"></i></a>
                    </li>
                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item">
                        <a href="#" class="page-link"><i class="mdi mdi-chevron-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>