<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragment/navbar}"></th:block>
<body>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row" th:object="${user}">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <h5 class="my-3" th:text="*{fullName}">Full Name</h5>
                        <p class="text-muted mb-1"
                           th:text="'Owner of ' + ${user.apartments.size() + ' apartments'}"></p>
                        <p class="text-muted mb-4" th:text="*{street} + ', ' + *{city} + ', ' + *{country}">Address</p>
                        <div class="d-flex justify-content-center mb-2">
                            <a class="nav-item active"
                               th:href="@{/users/profile/edit/{name}(name = ${#authentication.getName()})}">Edit
                                profile</a>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <a class="nav-item active"
                               th:href="@{/users/profile/change-password/{name}(name = ${#authentication.getName()})}">Change
                                password</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Username</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="*{username}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="*{email}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone number</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="*{phoneNumber}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Country</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="*{country}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">City</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="*{city}"></p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Street Address</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0" th:text="*{street}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>