<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragment/navbar-manager-building}"></th:block>
<body>
<section style="background-color: #eee;">
    <div class="container py-5" th:object="${building}">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img th:src="*{imageUrl}"
                             alt="avatar"
                             class="img-fluid mx-auto" style="width: 150px;">
                        <h5 class="my-3" th:text="*{name}"></h5>
                        <p class="text-muted mb-1"
                           th:text="*{street} + ', ' + *{city} + ', ' + *{country}">Address</p>
                        <p class="text-muted">Manager:</p>
                        <p class="text-muted mb-4"
                           th:text="*{manager.fullName} + ', ' + *{manager.phoneNumber}"></p>
                        <div class="d-flex justify-content-center mb-2">
                            <a class="nav-item active mx-auto"
                               th:href="@{/manager/buildings/{buildingId}/add-message(buildingId = ${building.id})}">Add
                                message</a>
                        </div>
                        <div class="d-flex justify-content-center mb-2">
                            <a class="nav-item active mx-auto"
                               th:href="@{/manager/buildings/{buildingId}/my-messages/{authorName}
                               (buildingId = ${building.id}, authorName = ${#authentication.name})}">My
                                messages</a>
                        </div>
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0 text-center">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0 align-content-center text-center"
                                   th:text="'Building\'s money balance: ' + ${buildingBalance} +'lv.'"></p>
                            </li>
                            <li class="list-group-item align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0 align-content-center text-center"
                                   th:text="'Building\'s tax per Person: ' + *{taxPerPerson} +'lv.'"></p>
                            </li>
                            <li class="list-group-item align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0 align-content-center text-center"
                                   th:text="'Building\'s tax per Dog: ' + *{taxPerDog} +'lv.'"></p>
                            </li>
                            <li class="list-group-item align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0 align-content-center text-center"
                                   th:text="'Building\'s per elevator chip: ' + *{taxPerElevatorChip} +'lv.'"></p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-content-center">
                <h3 class="text-center">Messages from manager</h3>
                <div class="card-body text-center">
                    <div class="card mb-2" th:each="message : ${messagesFromManager}" th:object="${message}">
                        <div class="card-body">
                            <h4 class="card-title" th:text="*{title}"></h4>
                            <p class="card-text" th:text="*{content}"></p>
                            <p class="card-text"
                               th:text="*{createdDate.dayOfMonth} + ' ' + *{createdDate.month} + ' ' + *{createdDate.year}"></p>
                            <p class="card-text"
                               th:text="*{author.fullName} + ' - ' + *{author.phoneNumber}"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 align-content-center">
                <h3 class="text-center">Messages from neighbours</h3>
                <div class="card-body text-center">
                    <div class="card mb-2" th:each="message : ${messagesFromNeighbours}" th:object="${message}">
                        <div class="card-body">
                            <h4 class="card-title" th:text="*{title}"></h4>
                            <p class="card-text" th:text="*{content}"></p>
                            <p class="card-text"
                               th:text="*{createdDate.dayOfMonth} + ' ' + *{createdDate.month} + ' ' + *{createdDate.year}"></p>
                            <p class="card-text"
                               th:text="*{author.fullName} + ' - ' + *{author.phoneNumber}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
</body>
</html>